<h1>CELEBRITIES</h1>

<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Occupation</th>
    </tr>
    {{#each celebrities}}
    <tr>
      <td><a href="/celebrities/{{this._id}}">{{this.name}}</a></td>
      <td>{{this.occupation}}</td>
      <td>
      <form action="/celebrities/{{this._id}}/delete" method="post">
        <button type="submit" name="button">Delete</button>
      </form> 
      </td>
      <td>
        <a href="/celebrities/edit?celebrity_id={{this._id}}" class="edit-button">Edit</a>
      </td>
    </tr>
    {{/each}}
  </table>
  <a href="/celebrities/add" class="edit-button">Add new star</a>
</div>