<h1>MOVIES</h1>

<div>
  <table>
    <tr>
      <th>Name</th>
      <th>Genre</th>
    </tr>
    {{#each movies}}
    <tr>
      <td><a href="/movies/{{this._id}}">{{this.title}}</a></td>
      <td>{{this.genre}}</td>
      <td>
        <form action="/movies/{{this._id}}/delete" method="post">
          <button type="submit" name="button">Delete</button>
        </form>
      </td>
      <td>
        <a href="/movies/edit?movie_id={{this._id}}" class="edit-button">Edit</a>
      </td>
    </tr>
    {{/each}}
  </table>
  <br>
  <br>
  <a href="/movies/add" class="edit-button"><span style="color:red">Add</span> a new movie</a>
  <br>
  <a href="/celebrities" class="edit-button">Check out the celebrities instead</a>
</div>